<%- include('partials/header.ejs') %>

<div>
  <% if (searchList && searchList.length > 0) { %>

  <table>
    <caption>
      <p><%= searchList.length %> résultats trouvés.</p>
      <!-- <p>Recherche effectuée pour : <%= searchList.lieu %>, du <%= searchList.dateDebut %> au <%= searchList.dateFin %>, avec une capacité de <%= searchList.capacite %> personnes.</p> -->
    </caption>
    <% searchList.forEach(function(hotel) { %>
    <tr>
      <th scope="col" colspan="2">
        <h2>Hôtel: <strong><%= hotel.name %></strong>, Ville: <%= hotel.city %></h2>
      </th>
    </tr>
    <tr>
      <td>
        <img
          style="max-width: 50%"
          src="<%= hotel.main_image_url %>"
          alt="Image de l'hôtel <%= hotel.name %>"
        />
      </td>
      <td>
        <!-- <p>URL : <%= hotel.main_image_url %></p> -->
        <p><%= hotel.nb_types_chambres %> type(s) de chambre(s) disponible(s)</p>
        <p>Prix : <%= hotel.prix_base %> €</p>
        <p>Capacité max : <%= hotel.capacite_max %> personnes</p>
        <p>Note moyenne : <%= hotel.average_rating || "Pas_encore_noté" %></p>
        <p>Nombre d'avis : <%= hotel.review_count %></p>
        <!-- <button>Réserver</button> -->
        <a href="/hotel/<%= hotel.id_hotel %>?date_debut=<%= searchParams.date_debut %>&date_fin=<%= searchParams.date_fin %>&adultes=<%= searchParams.adultes %>" class="btn-reserver">
          Voir l'hôtel
        </a>
      </td>
    </tr>
    <% }); %>
  </table>
  <% } else { %>
  <p>Désolé, aucune chambre ne correspond à vos critères de recherche. :)</p>
  <% searchList.length %> <% } %>
  <br />
</div>
<%- include('partials/footer.ejs') %>
